.container-1 {
  width: 100%;
  height: fit-content;
}

.nav-bar {
  border: solid 1px;
  border-radius: 10rem;
  border-style: double;
  justify-content: space-between;
  display: flex;
  align-items: center;
  margin: 2rem;
  background-color: rgba(255, 255, 255, 0.599);
  border: none;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

.nav-item {
  display: flex;
  flex-direction: row;
}

.a-button {
  border: none;
  padding: 1.5rem;
  font-size: 1.3rem;
  font-weight: 600;
  text-decoration: none;
  z-index: 3;
}

.a-button:hover {
  transform: scale(105%);
}

.left-side-nav {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  margin-left: 1rem;
  font-weight: 800;
}

.right-side-nav {
  padding: 10px;
  margin-right: 1rem;
  font-weight: 800;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  z-index: 2;
}

.main {
  width: 100%;
  height: 40rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}

.nav-bar-icon {
  margin-left: 0.5rem;
  max-width: 1.8rem;
}

.reveal-lottie {
  position: absolute;
  opacity: 0.5;
  top: -15%;
  left: -15%;
  z-index: 1;
}

.capsule-box {
  font-family: "Source Code Pro", monospace !important;
  width: 18.5em;
  height: fit-content;
  background-color: rgba(255, 255, 255, 0.599);
  border: none;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 9rem;
  padding: 3rem 0 3rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 5rem;
  z-index: 5;
}

.capsule-box:hover {
  scale: 105%;
}

.capsule-quote {
  font-size: 1.6em;
  padding-top: 0.5rem;
  text-align: center;
  width: 70%;
  margin-bottom: 0.5rem;
}

.capsule-tag {
  background-color: #baa8e0;
  border-radius: 10rem;
  margin-top: 1rem;
  padding: 1rem;
  font-size: 0.7rem;
  font-weight: 800;
  color: white;
}

.greetings {
  font-weight: 800;
  font-size: 2.1em;
}

.main-right-side {
  width: 37%;
  margin-right: 7em;
  font-size: 1.3em;
  z-index: 2;
}

.icon-group {
  justify-content: space-evenly;
  margin-top: 2.5rem;
  display: flex;
}

.contact-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  border: none;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 100%;
  height: 5rem;
  width: 5rem;
  object-fit: cover;
  padding: 2.5rem;
}

// .contact-icon {
//   animation: jello 2s ease-out 3s 1 normal backwards;
// }

.contact-icon:hover {
  scale: 108%;
}

@media only screen and (max-width: 500px) {
  .reveal-lottie {
    left: -90%;
    opacity: 0.5;
  }
}

@media only screen and (max-width: 828px) {

  .capsule-box,
  .capsule-quote,
  .capsule-tag,
  .a-button {
    display: none;
  }

  .main {
    height: 10%;
  }

  .greetings {
    margin-top: 2rem;
    font-size: 1.5rem;
  }

  .introduction {
    font-family: "Noto Sans", sans-serif !important;
    font-size: 1.1rem;
    padding: 2rem 3rem 5rem 3rem;
  }

  .main-right-side {
    text-align: center;
    width: 90%;
    margin-right: 0;
    margin-bottom: 10%;
    font-size: 1rem;
  }

  .right-side-nav {
    font-size: 1rem;
    text-align: center;
  }

}

@keyframes jello {
  0% {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, 0.95, 1);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}