.container-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: fit-content;
  margin-top: 4em;
  padding: 0 1rem;
}

.title {
  font-size: 3rem;
  display: flex;
  justify-content: center;
  margin: 1.5rem 1rem 0.5rem 1rem;
  font-weight: 700;
}

.description {
  font-size: 1rem;
  margin-bottom: 3rem;
}

.projects-area {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: fit-content;
  margin-bottom: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start !important;
  align-items: center;
  border-radius: 1rem;
  max-width: 25rem;
  min-height: 28rem;
  height: fit-content;
  padding: 2rem;
  margin: 1rem;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.599);
  border: none;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

.card:hover {
  scale: 105%;
  background-color: white;
}

.card-title {
  font-size: 1.5rem;
  cursor: pointer;
}

.circle-description {
  text-align: left;
  line-height: 1.6rem;
  font-size: 0.9rem;
  width: 87%;
  margin-left: 1.5rem;
}

.work-area {
  display: flex;
  max-width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 5%;
}

@media only screen and (max-width: 828px) {
  .container-2 {
    height: 100%;
    margin-top: 6%;
  }

  #project-info,
  #work-info {
    font-size: 2rem;
  }

  .description {
    font-size: 0.8rem;
  }

  .projects-area,
  .work-area {
    flex-direction: column;
    justify-content: center;
    align-items: center;
<<<<<<< HEAD:src/components/section2.css
  }

  .project-box,
  .work-box {
    justify-content: center;
    width: 22rem;
    height: 22rem;
    padding: 2rem;
=======
>>>>>>> dev:src/assets/css/ExperienceSection.css
  }

  .card-title {
    font-size: 1.2rem;
    width: 80%;
  }

  .circle-description {
    width: 80%;
    font-size: 0.8rem;
  }
}
