.container-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: fit-content;
  margin-top: 4em;
}

.title {
  font-family: "DM Serif Display", serif;
  font-size: 3em;
  display: flex;
  justify-content: center;
  margin: 2rem 1rem 0.5rem 1rem;
}

.description {
  margin-bottom: 3rem;
}

.projects-area {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: fit-content;
  margin-bottom: 6rem;
}

.project-box {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  border: solid 1px;
  border-radius: 100%;
  width: 25rem;
  height: 25rem;
  padding: 15% 3rem 3rem 3rem;
  margin: 1rem;
  text-align: center;
  background-color: rgb(255, 255, 255);
}

.circle-title {
  font-family: "DM Serif Display", serif;
  font-size: 1.5rem;
  cursor: pointer;
}

.circle-description {
  text-align: left;
  line-height: 1.6rem;
  font-size: 0.9rem;
  width: 85%;
  margin-left: 1.5rem;
}

.work-area {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 5%;
}

.work-box {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 100%;
  width: 30rem;
  height: 30rem;
  padding: 10% 3rem 3rem 3rem;
  margin: 1rem;
  text-align: center;
  background-color: white;
}

.work-box:hover {
  scale: 102%;
  transition: 0.6s;
}

.project-box:hover {
  scale: 105%;
  transition: 0.6s;
}

@media only screen and (max-width: 828px) {
  .container-2 {
    height: 100%;
    margin-top: 6%;
  }

  .projects-area {
    flex-direction: column;
    align-items: center;
  }

  .work-area {
    flex-direction: column;
    align-items: center;
  }

  .title {
    font-size: 2rem;
  }

  .project-box {
    width: 25rem;
    height: 25rem;
    padding: 1px;
  }

  .work-box {
    width: 25rem;
    height: 25rem;
    padding: 1px;
  }

  .circle-title {
    font-size: 1.2rem;
    width: 80%;
  }

  .circle-description {
    width: 80%;
    font-size: 1rem;
  }
}
