@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,600;1,100;1,200;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/* font-family: 'DM Serif Display', serif; */
/* font-family: 'Philosopher', sans-serif; */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
}

.App {
  background-image: url("./oooscillate.svg");
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.CloseLine {
  border-top: 3px double #8c8b8b;
  margin: 0px 5% 0% 5%;
}

a {
  color: black;
}

@media only screen and (max-width: 390px) {
  .App {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("./oooscillate.svg");
  }
}
/*

  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.App-link {
  color: #3c4f54;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
 */
